.card-footer {
    text-align: center;
}

.card-body {
    padding: 2rem 1.5rem !important;
}

.card-title {
    margin-bottom: 1rem !important;
    font-size: 1.5rem ! important;
    font-weight: bold !important;;
}

#profilePageContainer {
    margin-top: 7rem;
}

.nav a {
    text-decoration: none;
    color: gray;
}
.nav a:hover {
    color: black
}
svg:hover {
    fill: black;
}
#kitten {
    width: 35px;
}
.nav li {
    font-size: small;    
    width: 115px;
}

#lastLi {
    text-decoration: underline;
    color: #965c06;
}
#lastLi:hover {
    color: #5a3804;
}