.card-footer {
    text-align: center;
}

.card-body {
    padding: 2rem 1.5rem !important;
}

.card-title {
    margin-bottom: 1rem !important;
    font-size: 1.5rem ! important;
    font-weight: bold !important;;
}

#profilePageContainer {
    margin-top: 7rem;
}












  /*FOOTER*/
 #logoFooter{ 
    width: "50px";
 }
            
  .collegamenti {
    color: #848482;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.6em;
    margin-bottom: 8px;
  }
  
  .domande {
    font-size: 0.9em;
  }
  
  .footerQuestion {
    font-size: 0.9em;
    color: #848482;
  }
  
  #language {
    width: 100%;
    border-radius: 7px;
  }